/* All pages */
body {
  background-color: #e6ede0;
  font-family: Verdana, Tahoma, sans-serif;
}

header {
  background-color: #c6eff1;
  border: 5px solid #394176;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 95%;
  margin: 0 auto;
  height: 7.5rem;
  padding: 0.5rem;
}

nav {
  display: flex;
  align-items: center;
  margin-left: 4%;
  text-align: center;
}

nav a {
  color: #394176;
  font-weight: bold;
  margin: 0 2.5rem;
}

a {
  text-decoration: none;
}

.pageindicator {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  border: 5px solid #394176;
  width: 30%;
  height: 7rem;
  padding: 0.125rem 1rem;
}

.title {
  color: #394176;
  text-indent: 5rem;
}

footer {
  font-size: small;
  font-style: italic;
  text-align: center;
}

/* Home page specific */
#aboutme {
  display: flex;
  align-items: center;
  background-color: #582b43;
  border: 5px solid #394176;
  height: 500px;
  width: 85%;
  margin: 2.5rem auto;
}

#meimg {
  flex: 3;
  text-align: center;
}

#metxt {
  flex: 2;
  padding-right: 2rem;
  text-align: left;
  color: #e6ede0;
}

#pagedesc table {
  margin: 0 auto;
  width: 85%;
  color: #394176;
}

td {
  text-align: center;
  padding: 0 3rem;
}

/* Reviews pages specific */
.reviews {
  color: #394176;
}

.reviews h2 {
  text-indent: 6rem;
  color: #394176;
}

.review {
  display: flex;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.revtxt {
  flex: 3;
  margin-left: 10rem;
}

.rating {
  flex: 1;
}

.rating img {
  width: 25px;
}

.rating .halfstar {
  width: 12.5px;
}

/* Concerts page specific */
.concerts {
  color: #582b43;
}

.blogtitle {
  display: flex;
}

.blogtitle h2 {
  flex: 2;
  text-indent: 5rem;
  color: #394176;
}

.blogtitle h3 {
  flex: 2;
  text-align: right;
  margin-right: 5rem;
  color: #394176;
}

.blog {
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-bottom: 4rem;
}

.blogimg {
  flex: 1;
}

.blogtxt {
  flex: 1;
}

/* Playlists page specific */
.playlistbuckets {
  display: flex;
  text-align: center;
  margin-bottom: 3rem;
}

.playlistbuckets a {
  color: #e6ede0;
  text-decoration: underline;
}

.playlistbuckets td {
  width: 50%;
}

.playlistbuckets img {
  border: 3px solid #394176;
  width: 150px;
  height: 150px;
}

#pgroup1 {
  flex: 4;
  background-color: #582b43;
  color: #e6ede0;
  margin-left: 10rem;
  margin-left: 5rem;
  padding: 1rem;
  border: 4px solid #394176;
}

#pgroup2 {
  flex: 4;
  background-color: #582b43;
  color: #e6ede0;
  margin-left: 5rem;
  margin-right: 5rem;
  padding: 1rem;
  border: 4px solid #394176;
}

/* Favorites page specific */
#favorites {
  display: flex;
  width: 80%;
  margin: 0 auto;
  color: #e6ede0;
  text-align: center;
}

#favorites h2 {
  text-decoration: underline;
}

#songs {
  flex: 1;
  background-color: #582b43;
  margin: 1rem;
  margin-top: 0.5rem;
  padding: 0.5rem;
  padding-bottom: 1rem;
  border: 4px solid #394176;
}

#albums {
  flex: 1;
  background-color: #582b43;
  margin: 1rem;
  margin-top: 0.5rem;
  padding: 0.5rem;
  padding-bottom: 1rem;
  border: 4px solid #394176;
}

#favartists {
  flex: 1;
  background-color: #582b43;
  margin: 1rem;
  margin-top: 0.5rem;
  padding: 0.5rem;
  padding-bottom: 1rem;
  border: 4px solid #394176;
}

dt {
  font-weight: bold;
  font-size: large;
}

dd {
  text-align: center;
  padding-right: 3rem;
}
